<h3>Márkák</h3>

<table class="list">
  <tr>
    <th>Név</th>
    <th>Logó</th>
    <th>Nyilvános</th>
    <th>Kategória</th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td><%= link_to brand.name, brand %></td>
    <td><%= image_tag brand.logo_url(:listthumb) %></td>
    <td><%= image_tag (brand.visible? ? "check_alt_24x24.png" : "x_alt_24x24.png") %></td>
    <td><%= link_to brand.category.name, brand.category %></td>
    <td class"controls">
    	<%= link_to image_tag("document_stroke_24x24.png", :alt => "Mutat", :class => "icon"), brand %>
    	<%= link_to image_tag("pen_alt_stroke_24x24.png", :alt => "Szerkesztés", :class => "icon"), edit_brand_path(brand) %>
    	<%= link_to image_tag("trash_stroke_24x24.png", :alt => "Törlés", :class => "icon"), brand, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Új márka', new_brand_path %>
