<p id="notice"><%= notice %></p>
<div id="showtitle">
  <h3 class="brand"><%= @brand.name %></h3><%= image_tag (@brand.visible? ? "check_alt_24x24.png" : "x_alt_24x24.png"), :class => "icon" %>
  <em class="category"><%= link_to @brand.category.name, @brand.category %></em>
  <span id="titlecontrols" class="controls">
  	<%= link_to image_tag("list_24x21.png", :alt => "Mutat", :class => "icon"), brands_path %>
  	<%= link_to image_tag("pen_alt_stroke_24x24.png", :alt => "Szerkesztés", :class => "icon"), edit_brand_path(@brand) %></td>
  	<%= link_to image_tag("trash_stroke_24x24.png", :alt => "Törlés", :class => "icon"), @brand, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  <div class="clearall"></div>
</div><!-- /#showtitle -->
<div id="largelogo">
  <%= image_tag @brand.logo_url(:largethumb) %>
</div>