<p id="notice"><%= notice %></p>

<p>
  <h3><%= @brand.name %></h3>
  <em class="category"><%= link_to @brand.category.name, @brand.category %></em>
</p>
<p>
  <%= image_tag @brand.logo_url(:largethumb) %>
</p>

<p>
  <b>Visible:</b>
  <%= @brand.visible %>
</p>

<p>
  <b>Category:</b>
  <%= @brand.category.name %>
</p>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
